/* DASHBOARD */

.pet-wrapper {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
  .pet-wrapper {
    width: 100%;
    height: 500px;
  }
}

.dashlink-wrapper {
    /* border: 1px solid #d8d8d8; */
    /* border: 1px solid #333; */
    border-radius: 20px;
    margin: 10px 0;
    width: 100%;
    height: 100px;

}

.dashlink-wrapper a {
    font-size: 18px;
    color: #333;
}

.dashlink-wrapper.new {
    background-color: #ffdac1;
    /* border: 1px solid #ffdac1; */
    text-shadow:0px 1px 0px #e1e2ed;
}

.dashlink-wrapper:hover, .dashlink-wrapper:active {
    border: 1px solid #333;
}

.dashlink-wrapper.stats {
    background-color: #c7ceea;
    /* border: 1px solid #c7ceea; */
    text-shadow:0px 1px 0px #e1e2ed;
}

.dashlink-wrapper.contacts {
    background-color: #ffb7b2;
    /* border: 1px solid #ffb7b2; */
    text-shadow:0px 1px 0px #e1e2ed;
}

.dashlink {
    width: 100%;
    height: 100%;
}
