/* MOOD TRACKER */

.moodpage {
    width: 100vw;
    height: 100vh;
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    font-size: 14px;
}

.moodpage .form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.moodpage h1 {
    margin: 20px;
    font-size: 1.8em;
}

/* SLIDER */

.slidecontainer {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* position: absolute;
    top: 250px; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E2F0CB;
    border: 1px solid #333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E2F0CB;
    border: 1px solid #333;
    cursor: pointer;
}

/* KEYWORDS / TAGS */

.tags {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 2px;
    padding: 5px 5px 0;
}

.tags label {
    margin-bottom: 15px;
}

span.input-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-add {
    background-color: #B5EAD7;
    padding: 8px 10px;
    border: 1px solid #B5EAD7;
    border-radius: 10px;
    margin: 0 5px;
}

.tags input {
    padding: 8px 0;
    padding-left: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 20px;
    width: 100%;
}

.tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 5px 0;
    overflow-x: scroll;
}

ul.ul-tags {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

ul.ul-tags li {
    border-radius: 5px;
    color: black;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin: 3px 0;
    margin-right: 3px;
    padding: 2px 5px;
    font-size: 14px;
}

ul.ul-tags li.positive {
    background: #FFDAC1;
}

ul.ul-tags li.negative {
    background: #C7CEEA;
}

ul.ul-tags li button {
    align-items: center;
    appearance: none;
    background: inherit;
    border: none;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    transform: rotate(45deg);
    width: 15px;
}

/* ul.ul-tags li.li-tags {
    background: none;
    flex-grow: 1;
    padding: 0;
} */

/* EMOJI */

img.emoji {
    width: 100px;
    margin-bottom: 30px;
    opacity: .8
}

/* ACCORDION */

.keywords .accordion {
    width: 300px;
    border: none;
}

.keywords .accordion-btn {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 8px 0;
    margin: 8px;
}

.keywords .accordion-btn:hover {
    background-color: ivory;
}

/* .keywords .accordion__button:hover {
    background-color: ivory;
} */

.keywords .accordion__item {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.keywords .accordion__panel {
    width: 100%;
    padding: 0 20px 20px;
    border: none;
}

/* DATE */

p.date {
    font-size: 11px;
}

/* OK BUTTON */

.btn-ok {
    font-size: 14px;
    /* opacity: .8; */
    width: 80px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #333;
    border-radius: 20px;
    margin-top: 30px;
    /* position: absolute; */
    /* bottom: 0%; */
}